.navbar{
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    
}
#stacklogo{
    
    margin-top: 15px;
}


.navbar-nav{
    /* border: 1px solid red; */
    margin-top: 25px;
    margin-left: 50%;
    font-weight: 400;
}
nav ul li {
    /* border: 1px solid red; */
    /* padding-left: 5px; */
    padding-right: 10px;
    margin-left: 15px;
    margin-top: 15px;

}



.container-fluid2{
    background-image: url(stackimg/hero-bg.png);
    padding-top: 120px;
    /* border: 5px solid yellow; */
    /* height: auto; */
    /* margin-top: 5px; */
    /* border: 5px solid green; */
}

h2{
    /* border: 1px solid red; */
    text-align: center;
    /* margin-top: 100px; */
}
#feature{
    
    padding-top: 80px;
    padding-left: 170px;
}
#featuretitle{
    font-weight: 700;
    font-size: 34px;
}
#featuretext{
    color: gray;
    font-size: 13px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.downloadbtn{
    background-color: blue;
    color: white;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 500px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}
.downloadbtn:hover{
    background-color: black;

}
.bnnrimg{
    margin-top: 60px;
    margin-left: 300px;

}
.btn-primary{
    border-radius: 20px;
}
.btn-primary:hover{
    background-color: black;
}
.feature{
    /* height: 500px; */
}
#featureitem2{
    background-color: blue;
    
}

.row1{
    border: 2px solid red;
}
#featureiteminner{
    /* margin-bottom: 20px; */
    /* border: 2px solid yellow; */
    height: 250px;
    padding-right: 60px;
}

#services{
    text-align: center;
    /* border: 1px solid red; */
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 100px;
}
.services{
    background-color: rgba(247, 249, 251);
}
.card{
    /* border: 1px solid red; */
    height: 500px;
}
#featureicon{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 50px;
    padding-top: 20px;
    padding-right: 30px;
    
}
.card-body2{
    /* background-color: blue; */
    color: white;
    padding-top: 50px;
    
}
.card-body{
    padding: 10px;
    
}
.container-fluid{
    
    margin-bottom: 20px;
    padding-bottom: 10px;

}

.card1{
    /* border: 1px solid yellow; */
    
    height: 275px;
    padding-top: 50px;
    background-color: white;
    box-shadow: 20px;
    
}




.fa-2x{
    /* border: 1px solid yellow; */
    padding-left: 30px;
    padding-bottom: 30px;
    color: blue;
    
}


.testimonialcontainer{
    margin-top: 20px;
    height: auto;
    background-image: url(stackimg/testimonial_bg.jpg);
    background-size: cover;
}
.containertestimonial{
    border: 1px solid red;
    /* background-image: url(stackimg/testimonial_bg.jpg); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* height: 500px; */
    /* padding-top: 300px; */
}
.carousel-inner{
    /* border: 1px solid red; */

}
.carousel-item{
    /* border: 2px solid blue; */
}







.contactus{
    background-color: rgb(247, 249, 251);
    /* border: 2px solid yellow; */
    display: grid;
    grid-template-columns: 900px 300px;
    column-gap: 10px;
}
.item1{
    /* border: 1px solid green; */
}
.item2{
    /* border: 1px solid blue; */
    padding-top: 100px;
}
.direction{
    text-decoration: none;
}
.item2 p{
    /* border: 1px solid red; */
    margin-bottom: 35px;
    
}



.form-control{
    /* border: 2px solid green; */
    width: 700px;
    margin-left: 60px;   
    
}

.exampleInputmessage{
    border: 1px solid red;
    padding-bottom: 50px;
}

.form-msg{
    padding-bottom: 50px;
}

.send-btn{
    margin-left: 60px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.verification-code{
    margin-left: 60px;
    margin-bottom: 10px;
    font-weight: 600;
}

.getintouch{
    margin-left: 60px;
    padding-top: 20px;
}
form{
    padding-bottom: 50px;
}

.getintouch span{
    color: blue;
}
.address{
    border: 1px solid red;
}
.address-logo{
    margin-right: 10px;
}
footer{
    /* border: 1px solid yellow; */
    padding-top: 20px;
}
.container-fluid3{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 50px;
    padding-bottom: 70px;
    
    color: white;
    background-color: black;
}
li{
    margin-bottom: 20px;
}
.footeritem1{
    /* border: 1px solid red; */
    text-decoration: none;
}
.footeritem2{
    /* border: 1px solid green; */
    text-align: left;
    
}
.footeritem3{
    /* border: 1px solid yellow; */
}
.footeritem4{
    /* border: 1px solid orange; */
}
#getintouch{
    list-style: none;
}
#footerheading{
    list-style: square;
    font-weight: 500;
    font-size: 20px;
}
#quicklinkslist{
    list-style: ;
}
#newsletterlist{
    list-style: none;
}
#subscribebtn{
    color: white;
    background-color: blue;
    border-radius: 5px;
    margin-top: 10px;
}
#subscribebtn:hover{
    background-color: gray;
}
#ownername{
    font-size: 15px;
    padding-left: 60px;
    padding-top: 50px;
}
.socialmedialogo{
    padding-left: 30px;
    padding-bottom: 40px;
    padding-top: 20px;
}









